*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
img{
    border: 0;
}
#big-container{
    width: 600px;
    margin: 100px auto;
    position: relative;
}
#container{
    position: absolute;
    left: 0;
    top: 0;
}
#container2{
    position: absolute;
    right: 0;
    top: 0;
}