body{
    height: 1000px;
}
h1{
    text-align: center;
}
#nav{
    float: left;
}
#skin1,#skin2,#skin3{
    float: left;
    width: 50px;
    height: 50px;
    text-align: center;
    cursor: pointer;
}
#skin1{
    background: #0A5FF0;
}
#skin2{
    background: #ff00ff;
}
#skin3{
    background: #ff0000;
}